!!! 5
%html
  %head
    %script{src: 'script.js'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'style.css'}
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %title Sinatra - Glitch
  %body
    %header.content
      %a{class: 'github-button', data: {icon: :large}, aria: {label: 'Fork exegete46/sinatra-glitch on GitHub'}, href: 'https://github.com/exegete46/sinatra-glitch/fork',}
        Fork
    %div.content
      = yield

%script{async: true, defer: true, src: 'https://buttons.github.io/buttons.js'}
