
body {
  padding: 0;
  margin: 0;
}

body .content {
  max-width: 720px;
  margin: auto;
  margin-top: 2rem;
}

body header.content {
    text-align: right;
    margin-top: 1rem;
    margin-bottom: -2rem;
}
